# System files
.DS_Store
Thumbs.db

# Build directories
node_modules/
dist/
build/

# Environment variables
.env
.env.*

# Logs
*.log

# IDE/Editor files
.vscode/
.idea/
*.swp

# Python cache
__pycache__/
*.pyc

# Virtual environments
/backend/patientportal/.venv/

# Database
/backend/patientportal/app/medical_requests.db


# Temporary files
tmp/
temp/

*.zip
*.zip
.DS_Store
